
.times{
	width: auto;
	padding: 0 10px;
	height: 25px;
	font-size: 12px;
	line-height: 25px;
	text-align: center;
}

.on{
	background-color:#ff4e00;
}

.after{
	/*background-color: #e2e2e2;*/
}

.cdown{
	width: 110px;
}


/*倒计时样式*/
ul.countdown {list-style: none;}
ul.countdown li {display: inline-block;}
ul.countdown li span {}
ul.countdown li.seperator {}


.countdown span{color:#ff4e00;}
